{% extends "extends_huynya.html" %}
{% load staticfiles %}
{% block content %}

<div class="container" align="left">
    <div class="row">
        <div class=" navbar-brand my-4 "> <img src="{% static 'img/logo.png' %}" style="width:300px; height: 300px;"></div>
        <div class="col-md-4 my-4" class="navbar-brand"style="color:#FFFFFF"><h4>Cinema system</h4>
            <div style="color: #C0C0C0">cinemasystem@gmail.com</div>
            <div style="color: #C0C0C0">tiks1212@gmail.com</div>
            <div style="color: #C0C0C0">+77775223265</div>
            <div style="color: #C0C0C0">+77776859812</div>
            <div style="color: #C0C0C0"><a href="https://vk.com/un_hombre">Вконтакте</a></div>

        </div>
    </div>
</div>





{% endblock %}
