{% extends "extends_huynya.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">

<div class="row">
        <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h1>Век Адалин</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 my-2"> <img src="{% static 'img/1.jpg' %}"  style="width:800px; height:600px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h2>Сюжет</h2></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-9" style="color:#FFFFFF">По сюжету главная героиня родилась вместе с XX веком и живет на свете уже сто лет, но при этом не стареет. Несмотря на свою долгую жизнь, Аделайн так и не смогла найти любимого человека. Однако наконец-то она встречает мужчину, ради которого сможет снова стать смертной и состариться вместе с ним.</div>
</div>
</div>

{% endblock %}