{% extends "extends_huynya.html" %}
{% load staticfiles %}







{% block content %}
<div class="container" align="center">
<table class="table table-dark table-bordered" >
<thead >
<tr>
<td>Ранк</td>
<td></td>
<td></td>
<td>Рейтинг</td>
</tr>
</thead>
<tbody >
<tr>
<td>1</td>
<td><img src="{% static 'img/22.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Ford против Ferrari</h4>(Драма,Спорт)</td>
<td>9.5</td>
</tr>
<tr>
<td>2</td>
<td><img src="{% static 'img/11.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Холодное сердце 2</h4>(Драма,Фэнтези)</td>
<td>8.82</td>
</tr>
<tr>
<td>3</td>
<td><img src="{% static 'img/33.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Век Адалин</h4>(Драма,Фэнтези)</td>
<td>8.6</td>
</tr>
<tr>
<td>4</td>
<td><img src="{% static 'img/44.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Аким</h4>(Комедия)</td>
<td>8.5</td>
</tr>
<tr>
<td>5</td>
<td><img src="{% static 'img/55.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Во всё тяжкое</h4>(Драма,Комедийная драма)</td>
<td>8.37</td>
</tr>
<tr>
<td>6</td>
<td><img src="{% static 'img/66.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Доктор Сон</h4>(Фэнтези,Триллер)</td>
<td>8,14</td>
</tr>
<tr>
<td>7</td>
<td><img src="{% static 'img/77.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Ангелы Чарли</h4>(Боевик,Приключения)</td>
<td>7.4</td>
</tr>
<tr>
<td>8</td>
<td><img src="{% static 'img/88.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Аванпост</h4>(Детективный фильм,Научная фантастика в кинематографе)</td>
<td>7.33</td>
</tr>
<tr>
<td>9</td>
<td><img src="{% static 'img/99.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Тварь</h4>(Драма,Детективный фильм)</td>
<td>6.68</td>
</tr>
<tr>
<td>10</td>
<td><img src="{% static 'img/100.jpg' %}" class="responsive" width="110px" height="140px"></td>
    <td><h4>Красавчики до нашей эры</h4>(Комедия)</td>
<td>5.71</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}



</body>
</html>